
*{
    
    margin: 0;
   padding: 0;
}
.background{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: jost,sans-serif;
    background-image: url(../assets/p1.png);
  
  }
  .backgroundImage{
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    height: 80vh;
    width: 80%;
    border: 10px black solid;
    border-radius: 15px;
    outline:10px  black; 
    background-image: url(../assets/p2.png) ;
    background-size: cover;
  }
  .form{
    display: inline-flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10px;
    background-color: transparent;
    height: 60vh;
    width: 35%;
    margin-left:2rem;
    padding: 1rem;
  }
  h1{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 40px;
  }
  h2{
    text-align: center;
    
    font-size: 32px;
  }
  input{

    width: 90%;
    height: 35px;
    border-color:black ;
    border-width: 2px;
    border-radius:5px ;
    outline: 2px black;
    box-shadow: 3px 3px 0 0 ;
    
  }
  .email{
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 20px;
 }
 p{
    margin-left: 5.5rem;
 }
 .New{
    margin-left: 10rem;
 }
 .submit{
    font-weight: 500;
    color: white;
    background-color: rgb(79, 26, 178);
 }
 .checkbox{
  width: 15px;
  height: 15px;
  outline: none;
  border-color:black ;
  border-width: 2px;
  border-radius:5px ;
  outline: 2px black;
  box-shadow: 0px 0px 0 0 ;
  margin-bottom: 25px;
 }

 @media screen and (max-width: 1100px){
 
  .backgroundImage {
      background-image: none;
      background-color: aliceblue;
      width: 100%;
      align-items: center;
  }
  h1{
    align-items: center;
    margin-left: 0;
  }
  h2{
    
    align-items: center;
    margin-left: 0;
  }
  .form {
      width: 80%;
      height: fit-content;
      margin: 10%;
      height: fit-content;
      border-radius: 15px;
      box-shadow: none;
      min-height: 480px;
      padding: 30px;
  } 
  #email, #Password{
      padding-left: 0;
      padding-right: 0;
  }
  p {
      display: flex;
      flex-direction: column;
  }
  b {
      display: none;
  }
  h1 {
      font-size: 30px;
      text-align: center;
  }
  #email, #Password, #Log, #continue{
      width: 100%;
  }
}